/**
 * Menu
 *
 * Basic menu styling for various menu types
 *
 * @level X.X.
 */
// Variables
// Breakpoint for mobile version of menu
$c-menu-mobile-breakpoint: $breakpoint-m !default;

// Horizontal
$c-menu-horizontal: true !default;
$c-menu-horizontal-responsive: true !default;

// Menu vertical
$c-menu-vertical: true !default;

// Off canvas
$c-menu-off-canvas: true !default;



// Defaults
.c-menu__list {
  margin: 0;
  background: $cs-a;

  @include u-list-reset();
}

.c-menu__list--level1 {
  transition: transform 0.2s;
}

.c-menu__item {
  position: relative;
}

.c-menu__link {
  display: block;
  text-decoration: none;
  &,
  &:hover,
  &:focus,
  &:visited {
    color: $cs-a-contrast;
  }
}

.c-menu__checkbox {
  display: none;
}

.c-menu__controls {
  @media (min-width: $c-menu-mobile-breakpoint) {
    display: none;
  }
}



@if $c-menu-horizontal or $c-menu-horizontal-responsive {
  /**
   * Horizontal
   *
   * Classic horizontal menu
   *
   * @level X.X.X.
   */
  .c-menu--horizontal,
  .c-menu--horizontal-responsive {
    .c-menu__list--level1 {
      @include u-clearfix();
    }
  }
  @if $c-menu-horizontal {
    /**
     * Horizontal (non responsive)
     *
     * @level X.X.X.X.
     * @markup
     * <nav class="c-menu c-menu--horizontal c-menu--horizontal--dropdown">
     *   <ul class="c-menu__list c-menu__list--level1">
     *     <li class="c-menu__item c-menu__item--level1">
     *       <a href="#" class="c-menu__link c-menu__link--level1">Link 1</a>
     *       <ul class="c-menu__list c-menu__list--level2">
     *         <li class="c-menu__item c-menu__item--level2">
     *           <a href="#" class="c-menu__link c-menu__link--level2">Link 1.1</a>
     *         </li>
     *         <li class="c-menu__item c-menu__item--level2">
     *           <a href="#" class="c-menu__link c-menu__link--level2">Link 1.2</a>
     *         </li>
     *       </ul>
     *     </li>
     *     <li class="c-menu__item c-menu__item--level1">
     *       <a href="#" class="c-menu__link c-menu__link--level1">Link 2</a>
     *     </li>
     *     <li class="c-menu__item c-menu__item--level1">
     *       <a href="#" class="c-menu__link c-menu__link--level1">Link 3</a>
     *     </li>
     *   </ul>
     * </nav>
     */
    .c-menu--horizontal {
      .c-menu__item--level1 {
        float: left;
      }
    }
    .c-menu--horizontal--dropdown {
      .c-menu__list--level1 .c-menu__list {
        position: absolute;
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.2s;
      }
      .c-menu__list--level1 .c-menu__list .c-menu__list {
        top: 0;
        left: 100%;
      }
      .c-menu__item:hover > .c-menu__list,
      .c-menu__item:focus > .c-menu__list {
        visibility: visible;
        opacity: 1;
      }
    }
  }
  @if $c-menu-horizontal-responsive {
    /**
     * Horizontal responsive
     *
     * @level X.X.X.X.
     * @markup
     * <nav class="c-menu c-menu--horizontal-responsive c-menu--horizontal-responsive--dropdown">
     *   <div class="c-menu__controls">
     *     <label for="c-menu__checkbox-horizontal" class="c-menu__toggle c-button c-button--s">&#9776; Menu</label>
     *   </div>
     *   <input id="c-menu__checkbox-horizontal" class="c-menu__checkbox" name="c-menu__checkbox-horizontal" type="checkbox">
     *   <ul class="c-menu__list c-menu__list--level1">
     *     <li class="c-menu__item c-menu__item--level1">
     *       <a href="#" class="c-menu__link c-menu__link--level1">Link 1</a>
     *       <ul class="c-menu__list c-menu__list--level2">
     *         <li class="c-menu__item c-menu__item--level2">
     *           <a href="#" class="c-menu__link c-menu__link--level2">Link 1.1</a>
     *         </li>
     *         <li class="c-menu__item c-menu__item--level2">
     *           <a href="#" class="c-menu__link c-menu__link--level2">Link 1.2</a>
     *         </li>
     *       </ul>
     *     </li>
     *     <li class="c-menu__item c-menu__item--level1">
     *       <a href="#" class="c-menu__link c-menu__link--level1">Link 2</a>
     *     </li>
     *     <li class="c-menu__item c-menu__item--level1">
     *       <a href="#" class="c-menu__link c-menu__link--level1">Link 3</a>
     *     </li>
     *   </ul>
     * </nav>
     */
    .c-menu--horizontal-responsive {
      @media (max-width: breakpointmax($c-menu-mobile-breakpoint)) {
        .c-menu__list--level1 {
          height: 0;
          transform: scale(1, 0);
          transform-origin: 0 0;
        }
        .c-menu__checkbox:checked + .c-menu__list--level1 {
          height: auto;
          transform: scale(1, 1);
        }
        .c-menu__item--level1 {
          float: none;
        }
      }
      @media (min-width: $c-menu-mobile-breakpoint) {
        .c-menu__item--level1 {
          float: left;
        }
      }
    }
    .c-menu--horizontal-responsive--dropdown {
      @media (min-width: $c-menu-mobile-breakpoint) {
        .c-menu__list--level1 .c-menu__list {
          position: absolute;
          visibility: hidden;
          opacity: 0;
          transition: opacity 0.2s;
        }
        .c-menu__list--level1 .c-menu__list .c-menu__list {
          top: 0;
          left: 100%;
        }
        .c-menu__item {
          position: relative;
        }
        .c-menu__item:hover > .c-menu__list,
        .c-menu__item:focus > .c-menu__list {
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
}



@if $c-menu-vertical {
  /**
   * Vertical
   *
   * @level X.X.X.
   * @markup
   * <nav class="c-menu c-menu--vertical">
   *   <ul class="c-menu__list c-menu__list--level1">
   *     <li class="c-menu__item c-menu__item--level1">
   *       <a href="#" class="c-menu__link c-menu__link--level1">Link 1</a>
   *       <ul class="c-menu__list c-menu__list--level2">
   *         <li class="c-menu__item c-menu__item--level2">
   *           <a href="#" class="c-menu__link c-menu__link--level2">Link 1.1</a>
   *         </li>
   *         <li class="c-menu__item c-menu__item--level2">
   *           <a href="#" class="c-menu__link c-menu__link--level2">Link 1.2</a>
   *         </li>
   *       </ul>
   *     </li>
   *     <li class="c-menu__item c-menu__item--level1">
   *       <a href="#" class="c-menu__link c-menu__link--level1">Link 2</a>
   *     </li>
   *     <li class="c-menu__item c-menu__item--level1">
   *       <a href="#" class="c-menu__link c-menu__link--level1">Link 3</a>
   *     </li>
   *   </ul>
   * </nav>
   */
  .c-menu--vertical {
    // no styling necessary
    // use this class to add your own stylings
  }
}



@if $c-menu-off-canvas {
  /**
   * Off canvas
   *
   * @level X.X.X.
   * @markup
   * <nav class="c-menu c-menu--off-canvas">
   *   <div class="c-menu__controls">
   *     <label for="c-menu__checkbox" class="c-menu__toggle c-button c-button--s">&#9776; Menu</label>
   *   </div>
   *   <input id="c-menu__checkbox" class="c-menu__checkbox" name="c-menu__checkbox" type="checkbox">
   *   <ul class="c-menu__list c-menu__list--level1">
   *     <li class="c-menu__item c-menu__item--level1">
   *       <a href="#" class="c-menu__link c-menu__link--level1">Link 1</a>
   *     </li>
   *     <li class="c-menu__item c-menu__item--level1">
   *       <a href="#" class="c-menu__link c-menu__link--level1">Link 2</a>
   *     </li>
   *     <li class="c-menu__item c-menu__item--level1">
   *       <a href="#" class="c-menu__link c-menu__link--level1">Link 3</a>
   *     </li>
   *   </ul>
   * </nav>
   */
  html {
    position: relative;
  }
  .c-menu--off-canvas {
    .c-menu__controls {
      display: block;
    }
    .c-menu__list--level1 {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      z-index: 100;
      max-width: 20em;
      width: 70%;
      transform: translate(-100%, 0);
    }
    .c-menu__checkbox:checked + .c-menu__list--level1 {
      transform: translate(0, 0);
    }
  }
}
